<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftdb="http://typo3.org/ns/LiquidLight/FormToDatabase/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	Content of the column selection modal, mirroring the markup of the core
	record list column selector (EXT:backend ColumnSelector.fluid.html).
	Rendered into a <template> and opened via
	@liquidlight/form-to-database/column-selector.js using the TYPO3 Modal API
	(Bootstrap modals were removed in TYPO3 v14).
-->
<template id="itemListSelect">
	<f:form action="updateItemListSelect">

		<div class="sticky-form-actions">
			<label for="ftd-columns-filter-input" class="visually-hidden">
				<f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_column_selector.xlf:columnsFilter"/>
			</label>
			<input
				type="search"
				autocomplete="off"
				id="ftd-columns-filter-input"
				name="columns-filter"
				class="form-control"
				value=""
				placeholder="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.enterSearchString')}"
			>
			<div class="btn-group t3js-column-selector-actions">
				<button type="button" class="btn btn-default disabled" data-action="select-all">
					<core:icon identifier="actions-check-square"/> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll"/>
				</button>
				<button type="button" class="btn btn-default disabled" data-action="select-none">
					<core:icon identifier="actions-square"/> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll"/>
				</button>
				<button type="button" class="btn btn-default" data-action="select-toggle">
					<core:icon identifier="actions-document-select"/> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection"/>
				</button>
			</div>
		</div>

		<div class="row">
			<f:groupedFor groupBy="renderingOptions.deleted" groupKey="deleted" each="{formRenderables}" as="renderables">
				<f:if condition="{deleted} == 1">
					<div class="col-12 mt-3">
						<strong>
							<f:translate
									key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.itemListSelect.deleted_fields"/>
						</strong>
					</div>
				</f:if>
				<f:for each="{renderables}" as="renderable">
					<f:if condition="{fieldsWithData.{renderable.identifier}}">
						<div class="col-6 t3js-column-selector-container">
							<div class="mt-2 form-check form-check-type-icon-toggle">
								<input
									type="checkbox"
									id="ftd-select-column-{renderable.identifier}"
									name="field[{renderable.identifier}]"
									class="form-check-input t3js-column-selector"
									value="1"
									{f:if(condition:'{renderable.renderingOptions.listView}', then:' checked')}
								/>
								<label class="form-check-label" for="ftd-select-column-{renderable.identifier}">
									<span class="form-check-label-icon">
										<span class="form-check-label-icon-checked">
											<core:icon identifier="actions-check" size="small" alternativeMarkupIdentifier="inline"/>
										</span>
										<span class="form-check-label-icon-unchecked">
											<core:icon identifier="miscellaneous-placeholder" size="small" alternativeMarkupIdentifier="inline"/>
										</span>
									</span>
									<f:if condition="{renderable.label}">
										<span>{renderable.label}</span>
									</f:if>
									<span class="text-variant">[{renderable.identifier}]</span>
								</label>
							</div>
						</div>
					</f:if>
				</f:for>
			</f:groupedFor>
		</div>

		<f:if condition="{fieldsWithNoData}">
			<div class="mt-3 text-body-secondary">
				<f:translate
						key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.itemListSelect.fields_no_data"/><br/>
				<f:for each="{fieldsWithNoData}" key="field" as="dataExists" iteration="iterator">
					{field}<f:if condition="{iterator.isLast}"><f:else>,</f:else></f:if>
				</f:for>
			</div>
		</f:if>

		<f:form.hidden name="formPersistenceIdentifier" value="{formPersistenceIdentifier}"/>
	</f:form>
</template>

</html>
