<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="MainContent">
	<h1>
		<f:translate key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.headline"/>
	</h1>
	<f:if condition="{forms}">
		<f:then>
			<f:render section="filter" arguments="{_all}" />
			<f:render partial="FormResults/Index/Results" arguments="{_all}"/>
		</f:then>
		<f:else>
			<f:variable name="label_notFoundTitle"
						value="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.forms_not_found.title')}"/>
			<f:if condition="!{label_notFoundTitle}">
				<f:variable name="label_notFoundTitle"
							value="{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:formManager.forms_not_found.title')}"/>
			</f:if>

			<f:variable name="label_notFoundMessage"
						value="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.forms_not_found.message')}"/>
			<f:if condition="!{label_notFoundMessage}">
				<f:variable name="label_notFoundMessage"
							value="{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:formManager.forms_not_found.message')}"/>
			</f:if>

			<f:be.infobox state="-1" title="{label_notFoundTitle}">
				<p>{label_notFoundMessage}</p>
			</f:be.infobox>
		</f:else>
	</f:if>
	<f:if condition="{deletedForms}">
		<f:render partial="FormResults/Index/DeletedResults" arguments="{forms: deletedForms, extConf: extConf}"/>
	</f:if>
	<f:render partial="FormResults/Index/Footer" arguments="{_all}"/>
</f:section>

<f:section name="filter">
	<form action="{f:be.uri(route:'web_FormToDatabaseFormresults', parameters: '{action: \'index\'}')}"
				method="post"
				enctype="multipart/form-data"
				name="filter"
				class="form-inline form-inline-spaced">
		<div class="form-group">
			<label for="filter-search">
				<f:translate key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.filter.form_name"/>
			</label>
			<input type="text" id="filter-search" class="form-control input-sm" name="filter[search]" value="{nameSearched}"/>
		</div>
		<div class="form-group">
			<input type="submit" value="{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.filter.search_button')}" class="btn btn-default btn-sm"/>
		</div>
	</form>
</f:section>
</html>
